$headerNavIcons: home,
shopping,
restaurants,
learning,
cinema,
entertainment,
sport,
art,
map;
%default-transition {
    transition: all 0.3s ease-in;
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

body {
    font-family: 'OpenSans-Regular';
     
}

.bgr {
    background: #ccc url(../img/bg.png)  no-repeat top;
}

a {
    font-size: 14px;
    line-height: 20px;
    color: #2482C0;
    @extend %default-transition;
}

.myContainer {
    position: relative;  
    max-width: grid('container');
    margin: 0 auto;
    width: 1200px; 
    @extend %clearfix;
}

.site-header {
    padding-bottom: 19px;
    &__top {
        padding-bottom: 9px;
        .left-block {
            float: left;
            padding-top: 11px;
        }
        .site-header__logo-wrap {
            float: left;
            padding-left: 25px;
            margin-right: 44px;
            .link {
                display: block;
            }
        }
        .site-header__banner {
            float: left;
            font-family: 'Cuprum-Regular';
            font-size: 36px;
            text-transform: uppercase;
            padding: 26px 113px 34px 85px;
            text-align: center;
            color: color('site-header__banner');
            background-image: url(../img/main/site-header__banner-bg.png);
            background-repeat: no-repeat;
            margin-right: 25px;
            margin-top: 12px;
            strong {
                font-family: 'Cuprum-Bold';
                font-weight: normal;
                letter-spacing: 0px;
            }
        }
        .right-block {
            float: left;
            color: #454547;
            .top-block {
                @extend %clearfix;
                margin-bottom: 15px;
            }
        }
        .site-header__date-wrap {
            float: left;
            font-family: 'OpenSans-Regular';
            padding-top: 27px;
            padding-right: 14px;
            .week-date {
                font-size: 12px;
                background-image: url(../img/main/week-date.png);
                background-repeat: no-repeat;
                padding-left: 22px;
                background-position: 3px 0px;
                margin-bottom: 3px;
            }
            .full-date {
                font-family: 'OpenSans-Regular';
                font-size: 11px;
                line-height: 15px;
            }
        }
        .site-header__login-area {
            float: left;
            font-family: 'OpenSans-Regular';
            padding: 6px 16px 15px 13px;
            a {
                display: inline-block;
                font-size: 11px;
                line-height: 15px;
            }
            @include header-login-grad;
            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            .entry-wrap {
                display: inline-block;
                vertical-align: middle;
                color: #434345;
                .enter {
                    display: inline-block;
                    text-decoration: underline;
                    color: #217AB4;
                    position: relative;
                    &:after {
                        position: absolute;
                        display: inline-block;
                        content: '';
                        top: 3px;
                        right: -6px;
                        width: 1px;
                        height: 11px;
                        background-color: #746f47;
                    }
                }
                .register {
                    text-decoration: underline;
                    color: #454547;
                    padding-left: 7px;
                }
            }
        }
        .site-header__search-field {
            display: inline-block;
            width: 100%;
            padding: 9px 13px;
            font-family: 'Roboto-Bold';
            font-size: 12px;
            color: #454547;
            line-height: 15px;
            text-transform: uppercase;
            border: none;
            border: 2px solid #e5e5e5;
            background-image: url(../img/main/site_header__search-field-icon.png);
            background-repeat: no-repeat;
            background-position: 96% 47%;
            padding-right: 33px;
        }
    }
    &__bottom {
        padding: 9px 0 10px 0;
        background-image: url(../img/main/site-header__bottom-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .site-header__nav-list {
            li {
                display: inline-block;
                vertical-align: middle;
                list-style: none;
                margin-right: 33px;
                &.shopping {
                    margin-right: 44px;
                }
                &.restaurants {
                    margin-right: 42px;
                }
                &.learning {
                    margin-right: 41px;
                    a {
                        padding-left: 32px;
                    }
                }
                &.cinema {
                    margin-right: 29px;
                    a {
                        padding-left: 31px;
                    }
                }
                &.entertainment {
                    margin-right: 42px;
                    a {
                        padding-left: 35px;
                    }
                }
                &.sport {
                    margin-right: 39px;
                    a {
                        padding-left: 30px;
                    }
                }
                &.art {
                    margin-right: 39px;
                }
                &:last-child {
                    margin-right: 0;
                    a {
                        padding-left: 21px;
                    }
                }
                &.home {
                    a {
                        width: 31px;
                        height: 31px;
                    }
                }
                a {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: 'OpenSans-Regular';
                    font-size: 14px;
                    text-decoration: underline;
                    color: #FFF;
                    background-repeat: no-repeat;
                    padding-left: 25px;
                    background-position: left;
                    ;
                }
            }
            @each $icon in $headerNavIcons {
                li {
                    &.#{$icon} {
                        a {
                            background-image: url(../img/main/site-header__nav-list/#{$icon}.png);
                        }
                    }
                }
            }
        }
    }
    .site-header__sidebar-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 3.166667%;
        height: 100%;
        overflow: hidden;
        z-index: 4;
        background-color: color('primary');
        transition: all 0.2s ease-in;
        &.active {
            width: 14.6%;
            .site-header__sticky-bar {
                opacity: 0;
                z-index: -3;
                width: auto;
            }
            .site-header__hidden-area {
                transform: translateX(0);
            }
        }
    }
    .site-header__sticky-btn-toggle {
        padding: 22px;
        background: none;
        background-color: color('sidebarToggleBtn');
        background-image: url(../img/main/hamburger-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        width: 100%;
        transition: all 0.2s ease-in;
    }
    .site-header__hidden-area {
        position: relative;
        height: 100%;
        padding-top: 46px;
        z-index: -1;
        transform: translateX(100%);
        width: auto;
        padding-right: 16px;
        padding-left: 18px;
        transition: all 0.2s ease-in;
    }
    .site-header__sticky-bar {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.2s ease-in;
    }
    .site-header__choose-city {
        margin-bottom: 17px;
        .title {
            font-family: 'OpenSans-Regular';
            font-size: 12px;
            margin-bottom: 8px;
            color: #fff;
        }
    }
    .site-header__sidebar-dropdown {
        font-family: 'Roboto-Regular';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        border: none;
        border: 2px solid #2982C0;
        color: #fff;
        background: transparent;
        .jq-selectbox__select {
            background: transparent;
            box-shadow: none;
            text-shadow: none;
            color: #fff;
            border: none;
            height: 30px;
            ;
            width: 166px;
            padding-left: 10px;
        }
        .jq-selectbox__trigger {
            border-left: none;
            width: auto;
        }
        .jq-selectbox__trigger-arrow {
            border-top: 5px solid #4f81bd;
        }
    }
    .site-header__hidden-area-close {
        position: absolute;
        top: 13px;
        right: 16px;
        display: inline-block;
        width: 21px;
        height: 21px;
        z-index: 1;
        border: none;
        background: none;
        background-image: url(../img/main/site-header__hidden-area-close.png);
        background-repeat: no-repeat;
        transition: all 0.2s ease-in;
    }
    .site-header__sidebar-weather {
        margin-bottom: 55px;
        .img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;
        }
        .description {
            display: inline-block;
            vertical-align: middle;
            .submenu-list {
                li {
                    display: inline-block;
                    list-style: none;
                    font-family: 'Roboto-Regular';
                    font-size: 16px;
                    line-height: 20px;
                    margin-right: 5px;
                    color: #fff;
                }
            }
            .details {
                font-family: 'OpenSans-Regular';
                font-size: 10px;
                color: #b5b5b5;
            }
        }
    }
    .site__header-taxi-btn {
        display: inline-block;
        vertical-align: middle;
        font-family: 'Roboto-Bold';
        font-size: 12px;
        padding: 10px;
        padding-left: 45px;
        text-transform: uppercase;
        color: #fff;
        background-color: #f79127;
        background-image: url(../img/main/taxi-lg.png);
        background-repeat: no-repeat;
        background-position: 10% center;
        width: 100%;
    }
    .site__header-taxi-block {
        margin-bottom: 36px;
    }
    .site__header-company-nav-list {
        li {
            list-style: none;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-family: 'OpenSans-Regular';
                font-size: 14px;
                color: #fff;
            }
        }
    }
    .site-header__sticky-icons-list {
        > li {
            font-family: 'OpenSans-Regular';
            list-style: none;
            padding-top: 33px;
            text-transform: uppercase;
            line-height: 15px;
            text-align: center;
            .icon {
                display: block;
                margin: 0 auto 2px;
            }
            &.taxi {
                a {
                    font-size: 10px;
                    text-decoration: none;
                    color: #f79228;
                }
            }
            &.weather {
                .icon {
                    margin-bottom: 9px;
                    margin-top: -7px;
                }
                .submenu-list {
                    li {
                        list-style: none;
                        font-size: 12px;
                        margin-bottom: 2px;
                        color: #E6E6E6;
                    }
                }
            }
        }
    }
}

.section__title {
    font-family: 'Roboto-Bold';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #434345;
    word-spacing: -2px;
}

.site-footer {
    padding: 15px 0;
    background-image: url(../img/main/site-footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__top {
        .site-footer__logo-wrap {
            text-align: center;
            .link {
                display: inline-block;
                margin-bottom: 15px;
            }
        }
        .site-footer__logo-title {
            font-family: 'Roboto-Bold';
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
        }
    }
}

.site-footer__copyright-block {
    float: left;
    font-family: 'OpenSans-Regular';
    font-size: 12px;
    color: #fff;
    .icon {
        display: inline-block;
        vertical-align: middle;
    }
}

.site-footer__design-by {
    float: right;
    color: #fff;
    .link {
        display: inline-block;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
        font-family: 'OpenSans-Regular';
        font-size: 12px;
    }
    .img {
        display: inline-block;
        vertical-align: middle;
    }
}

.arrow-scroll-btn {
    position: fixed;
    display: none;
    width: 56px;
    height: 59px;
    bottom: 25%;
    right: 3.166662%;
    display: inline-block;
    z-index: 2;
    background-image: url(../img/main/arrow-scroll-btn-new.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 18px 18px 13px 18px;
    &:after {
        position: absolute;
        bottom: -3px;
        left: 5px;
        content: '';
        display: block;
        width: 51px;
        height: 4px;
        background-image: url(../img/main/arrow-scroll-btn-new-shadow.png);
        background-repeat: no-repeat;
        z-index: -1;
        transform: rotate(-1.1deg);
    }
}


.about_page {
    section {
        padding-top: 6px;
        margin-bottom: 90px;
    }
}

ul.bread_crumbs {
    li {
        display: inline-block;
        position: relative;
        margin-right: 18px;
        &:after {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            top: 7px;
            right: -14px;
            background: url('../img/img_001.png') no-repeat center;
        }
        &:last-child:after {
            display: none;
        }
        &:first-child a {
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            font-size: 12px;
        }
    }
}


.events_page {
    .content_area {
        margin-bottom: 50px;
    }
    .site-header__sidebar-dropdown { 
        font-family: 'Roboto-Regular';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        border: none;
        border: 2px solid #d5d5d5;
        color: #fff;
        background: transparent;
        .jq-selectbox__select {
            background: transparent;
            box-shadow: none;
            text-shadow: none;
            color: #fff;
            border: none;
            height: 30px;
            width: 166px;
            padding-left: 10px;
        }
        .jq-selectbox__trigger {
            border-left: none;
            width: auto;
        }
        .jq-selectbox__trigger-arrow {
            border-top: 5px solid #4f81bd;
        }
    }
}



.taxi_page {
    .check_sity {
        margin-bottom: 22px;
    }
    .section__title {
        margin-top: 6px;
        margin-bottom: 13px;
    }
    .content_area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direcrion:column;
        margin-bottom: 50px;
        .block {
            height: 170px;
            border-left: 4px solid #78c774;
            width: 49%;
            margin-bottom: 18px; 
            @extend %clearfix; 
            .left {
                float: left;
                width: 50%;
                padding-right: 15px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .right {
                float: left;
                width: 50%;
            }
            .top {
                @extend %clearfix;
                .main__col-items-title {
                    float: left;
                    width: 60%;
                    line-height: 18px;
                    margin-bottom: 6px;
                }
                .main__col-items-rating {
                    width: 40%;
                    text-align: right;
                }
            }
            .bottom {
                ul {
                    list-style-type: none;
                    color: #454547;
                    font-size: 14px;
                    li {
                        margin-top: 6px;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.blue_text {
    color: #4f81bd; 
}
.favorite-label-left {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    z-index: 1;
    background-image: url(../img/img_002.png);
}


.events_page {
    .bread_crumbs {
        margin-bottom: 6px;
    }
    
    a.more_events {
        text-align: center;
        position: relative;
        width: 190px;
        margin: auto;
        display: block;
        padding: 10px;
        padding-right: 40px;
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 28px;
            height: 25px;
            top: 6px;
            right: 8px;
            background: url(../img/img_003.png) no-repeat center;
        }
    }
    .event_slider {
        li {
            .home__right-col-img-block {
                height: 290px;
                img {
                    height: 290px!important;
                }
                .date-wrap {
                    top: 30px !important;
                    .day {
                        font-size: 50px!important;
                    }
                    .month  {
                        font-style: 19px!important;
                    }
                    .year {
                        font-size: 10px!important;
                    }
                }
            }
            
        }
        li:nth-child(even) {
            .home__right-col-img-block {
                position: relative;
                margin-left: 10px;
            }
        }
        li:nth-child(odd) {
            .home__right-col-img-block {
                position: relative;
                margin-right: 10px;
            }
        }
        .slick-dots {
            text-align: center;
            li {
                display: inline-block;
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1px solid #f7e64a;
                margin: 0 20px;
                border-radius: 50%;
                cursor: pointer;
            }
            li.slick-active {
                background: #f7e64a;
            }
        }
    }
    .content_area {
        margin-bottom: 50px;
        h1 {
            text-align: center;
            font-family: 'Roboto-Bold';
            font-size: 25px;
            text-transform: uppercase;
            margin-top: 16px;
        }
        .big_post {
            li.concert {
                width: 49%;
            }
        }
    }
    
    .section__title {
        margin-bottom: 13px;
    }
    .small_event_block {
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direcrion:column;
        li {
            display: none;
            width: 32%!important;
            .home__right-col-img-block {
                position: relative;
                height: 200px;
                overflow: hidden;
            }
        }
    }
}

.check_sity {
    background: #f1f1f1;
    padding: 15px;
    @extend %clearfix;
    
    .left {
        float: left;
        font-size: 12px;
        margin-top: 5px;
    }
    .jq-selectbox__select {
        color: #000!important;
        width: 200px!important;
    }
    .jq-selectbox {
        margin-left: 15px;
        float: left;
        

    }
}